.game{
  &-ui{
    left: 0;
    top: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
  }

  &-canvas{
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  &-menu{
    position: absolute;
    @include background-image('menu-bg.png');
    background-size: 100% 100%;
    transform-origin: 50% 0;

    &[data-show='true']{
      transform: rotateX(0);
    }
    &[data-show='false']{
      transform: rotateX(-90deg);
    }

    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.6s;
    &-text{
      font-size: 15px;
      color: #c7a785;
      font-weight: 700;
      text-align: center;
      filter: drop-shadow(0px 0px 1px #333);
      text-shadow: -1px -1px #444;
    }
  }

  &-info-bar{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 55%;
    text-align: center;
  }

  &-btn{
    &-exit{
      background: #ba261c !important;
      box-shadow: #333 2px 2px 3px, inset 1px 1px 3px #fff !important;
      color: #fff !important;
      &>div{
        margin-left: 5px !important;
      }
      &-text{
        font-size: 15px;
        font-weight: 700;
      }
    }
    &-confirm{
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-isee{
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-exit{
    &-fullscreen{
      position: absolute !important;
      top: 0;
      right: 0;
    }
  }

  &-continue-dialog{
    animation: fadein 0.8s;
  }

  @keyframes fadein {
    from { 
      transform: translateY(30%);
      opacity: 0; 
    }
    to   { 
      transform: translateY(0);
      opacity: 1;
    }      
  }

  &-end{
    &-overlay{
      position: fixed;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      &::before{
        content: '';
        height: 100%;
        width: 100%;
        position: fixed;
        background-color: rgba(0,0,0,0.3);
      }
    }
    &-box{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-size: 100% 100%;
      transform-origin: 50% 0;
    }
    &-win{
      @include background-image('end-win.png');
    }
    &-lose{
      // @include background-image('end-lose.png');
    }
    &-content{
      text-align: center;
      position: fixed;
      top: 58%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 35%;
    }
    &-text{
      font-size: 18px;
      color: rgba(22,38,76, 1);
      font-weight: 700;
      text-shadow: 1px 0px 5px rgba(22,38,76, 0.2);
    }
  }


}