.game{
  &-ui{
    left: 0;
    top: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
  }

  &-canvas{
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  &-menu{
    position: absolute;
    @include background-image('menu-bg.png');
    background-size: 100% 100%;
    transform-origin: 50% 0;

    &[data-show='true']{
      transform: rotateX(0);
    }
    &[data-show='false']{
      transform: rotateX(-90deg);
    }

    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.6s;
    &-text{
      font-size: 15px;
      color: #c7a785;
      font-weight: 700;
      text-align: center;
      filter: drop-shadow(0px 0px 1px #333);
      text-shadow: -1px -1px #444;
    }
  }

  &-info-bar{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 55%;
    text-align: center;
  }

  &-btn{
    &-exit{
      background: #ba261c !important;
      box-shadow: #333 2px 2px 3px, inset 1px 1px 3px #fff !important;
      color: #fff !important;
      &-text{
        font-size: 15px;
        font-weight: 700;
      }
    }
    &-confirm{
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-isee{
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-exit{
    &-fullscreen{
      position: absolute !important;
      top: 0;
      right: 0;
    }
  }

  &-continue-dialog{
    animation: fadein 0.8s;
  }

  @keyframes fadein {
    from { 
      transform: translateY(30%);
      opacity: 0; 
    }
    to   { 
      transform: translateY(0);
      opacity: 1;
    }      
  }

}