@import url(animations.css);

html{
  touch-action: none;
}
body{
  margin: 0;
}
.events-none{
  pointer-events: none;
}
.events-auto{
  pointer-events: auto;
}
.events-all{
  pointer-events: all;
}

