html{
  touch-action: none;
  font-size: 14px;
}
body{
  margin: 0;
}

.events-none{
  pointer-events: none;
}
.events-auto{
  pointer-events: auto;
}
.events-all{
  pointer-events: all;
}

.highlight{
  font-weight: 700;
  font-size: 26px;
  color: #f0ce60;
}
